@font-face
 font-family: 'icomoon';
 src:  url('./../fonts/icomoon.eot?283315');
 src:  url('./../fonts/icomoon.eot?283315#iefix') format('embedded-opentype'),
 url('./../fonts/icomoon.ttf?283315') format('truetype'),
 url('./../fonts/icomoon.woff?283315') format('woff'),
 url('./../fonts/icomoon.svg?283315#icomoon') format('svg');
 font-weight: normal;
 font-style: normal;

[class^="icon-"], [class*=" icon-"]
 /* use !important to prevent issues with browser extensions that change fonts */
 font-family: 'icomoon' !important;
 speak: none;
 font-style: normal;
 font-weight: normal;
 font-variant: normal;
 text-transform: none;
 line-height: 1;
 /* Better Font Rendering =========== */
 -webkit-font-smoothing: antialiased;
 -moz-osx-font-smoothing: grayscale;


.icon-check-box-outline-icon:before
 content: "\e905";

.icon-check-box-icon:before
 content: "\e906";

.icon-play-circle-icon:before
 content: "\e904";

.icon-play-icon-1:before
 content: "\e901";

.icon-plus-square-icon:before
 content: "\e902";

.icon-heart-icon:before
 content: "\e900";

.icon-add-outline-icon:before
 content: "\e903";

.icon-music-icon:before
 content: "\e911";

.icon-download-icon:before
 content: "\e960";

.icon-spinner-icon:before
 content: "\e983";

.icon-search-icon:before
 content: "\e986";

.icon-plus-icon:before
 content: "\ea0a";

.icon-play-icon:before
 content: "\ea1c";

.icon-pause-icon:before
 content: "\ea1d";

.icon-stop-icon:before
 content: "\ea1e";

.icon-previous-icon:before
 content: "\ea23";

.icon-next-icon:before
 content: "\ea24";

.icon-volume-icon:before
 content: "\ea26";

.icon-loop-play-icon:before
 content: "\ea2d";

.icon-shuffle-play-icon:before
 content: "\ea30";

.icon-album-icon:before
 content: "\ea55";